OPENAI_API_KEY=sk-xx
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MODEL_NAME=qwen-plus

MAIL_HOST=smtp.qq.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=xx@xx.com
MAIL_PASS=xx
MAIL_FROM="No Reply" <xx@xx.com>

# Bocha Web Search API Key
BOCHA_API_KEY=sk-xx
